<footer class="py-3 my-4">
    <ul class="nav justify-content-end border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre Nosotros</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Servicios</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Blog</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contacto</a></li>
    </ul>
  </footer>