<div class="p-3 mb-0 bg-secondary bg-gradient text-white">
  <header class="main-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <img src="/images/impresora.png" height="40" width="40" alt="Logo">
                    <span class="fs-4 text-white">Impresiones 3D</span>
                  </a>
            </div>
        
            <div class="col-7 col-md-6">
              <form action="/search" method="GET" class="search-form">
                  <input type="text" name="keywords" placeholder="Buscar productos..." class="search-form_input">
                  <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
              </form>
          </div>
        <div class="col-12 col-md-4">
          <a href="#" class="main-header_credit-link">
              <i class="fas fa-hand-holding-usd"></i>
              Comprá en cuotas y sin tarjeta de crédito
          </a>
      </div>
      </div>
        </div>
  </header>
  <nav class="py-2">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active text-white" aria-current="page">Todos los productos</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 text-white ">Ofertas</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 text-white">Tienda</a></li>
        <li class="nav-item"><a href="../products/create" class="nav-link link-dark px-2 text-white">Crear</a></li>
        
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 text-white">Creá tu cuenta</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 text-white">Ingresá</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 text-white">Mi carrito</a></li>
      </ul>
    </div>
  </nav>
</div>